$break: 768px;

@mixin screen-is-large {
  @media only screen and (min-width: $break + 1) { @content; }
}

@mixin screen-is-not-large {
  @media only screen and (max-width: $break) { @content; }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-size: 15px;
  box-sizing: inherit;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  &.dark {
    --border-color: #202431;
    --panel-color: #292D3E;
    --panel-title-color: #595f7a;
    --content-color: #FFFFFF;
    --control-color: #3f4661;
    --control-color-hover: #495170;
    --control-color-active: #2b3042;
    --control-color-disable: #2b3042;
    --debugger-current-position-bg: #ffc000;
    --debugger-current-position-fg: #000000;
    --debugger-current-scope: #424249;
    --debugger-error-bg: #ee5253;
    --debugger-error-fg: #ffffff;
  }
  &.light {
    --border-color: #eee8d5;
    --panel-color: #fdf6e3;
    --panel-title-color: #a29d8b;
    --content-color: #586e75;
    --control-color: #e1d6b9;
    --control-color-hover: #efe8d7;
    --control-color-active: #f4ecd7;
    --control-color-disable: #f4ecd7;
    --debugger-current-position-bg: #ff9100;
    --debugger-current-position-fg: #000000;
    --debugger-current-scope: #ffe6bf;
    --debugger-error-bg: #ee5253;
    --debugger-error-fg: #ffffff;
  }
}

.container {
  background: var(--border-color);
  width: 100%;
  height: 100%;
  display: grid;
  @include screen-is-large {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr 30%;
    grid-template-areas:
      "editor editor editor controller"
      "editor editor editor watcher"
      "console console console watcher";
  }
  @include screen-is-not-large {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 30px 1fr 1fr;
    grid-template-areas:
      "editor"
      "controller"
      "watcher"
      "console";
  }
  gap: 5px;
}

.panel {
  background: var(--panel-color);
  color: var(--content-color);
}

.editor {
  grid-area: editor;
}

.console {
  grid-area: console;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 1fr;
  grid-template-areas:
  "console-title"
  "console-content";
}

.console .title {
  grid-area: console-title;
}

.console #console {
  grid-area: console-content;
  overflow: auto;

  .log {
    display: block;
    clear: both;
    &.error {
      color: #ee5253;
    }
  }
}

.debugger-controller {
  grid-area: controller;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;

  background-color: var(--border-color);
}

button {
  border: none;
  border-radius: 3px;
  background: var(--control-color);
  color: var(--content-color);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

button svg {
  height: 20px;
}

button:hover {
  background: var(--control-color-hover);
}

button:active {
  background: var(--control-color-active);
}

button:disabled {
  background: var(--control-color-disable);
  color: var(--control-color);
}

.debugger-watcher {
  grid-area: watcher;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "watchlist"
  "localVariables";

  .watchList {
    grid-area: "watchList";
  }

  .localVariables {
    grid-area: "localVariables";
  }

  .watch-item {
    margin-bottom: 2px;
    &:hover {
      background: var(--debugger-current-scope);
    }
  }
}

.panel.editor .CodeMirror {
  width: 100%;
  height: 100%;
  line-height: 1.3em;
}
.styled-background { background-color: var(--debugger-current-position-bg) !important; color: var(--debugger-current-position-fg) !important; }
.styled-scope-background { background-color: var(--debugger-current-scope); }
.styled-error { background-color: var(--debugger-error-bg) !important; color: var(--debugger-error-fg) !important; }
.CodeMirror-gutters {
  padding-right: 20px;
}
.debugger-current {
  color: var(--debugger-current-position-bg);
}

.title {
  font-variant: small-caps;
  font-weight: bold;
  color: var(--panel-title-color);
}

