$break: 768px;

@mixin screen-is-large {
  @media only screen and (min-width: $break + 1) { @content; }
}

@mixin screen-is-not-large {
  @media only screen and (max-width: $break) { @content; }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #202431;
  box-sizing: border-box;
}

* {
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-size: 15px;
  box-sizing: inherit;
}

html {
  padding: 5px;
}

.container {
  background: #202431;
  width: 100%;
  height: 100%;
  display: grid;
  @include screen-is-large {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr 30%;
    grid-template-areas:
      "editor editor editor controller"
      "editor editor editor watcher"
      "console console console watcher";
  }
  @include screen-is-not-large {
    grid-template-columns: 1fr;
    grid-template-rows: 50% 30px 1fr 1fr;
    grid-template-areas:
      "editor"
      "controller"
      "watcher"
      "console";
  }
  gap: 5px;
}

.panel {
  background: #292D3E;
  color: #FFF;
}

.editor {
  grid-area: editor;
}

.console {
  grid-area: console;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 22px 1fr;
  grid-template-areas:
  "console-title"
  "console-content";
}

.console .title {
  grid-area: console-title;
}

.console #console {
  grid-area: console-content;
  overflow: auto;
}

.debugger-controller {
  grid-area: controller;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 5px;
}

button {
  border: none;
  border-radius: 3px;
  background: #3f4661;
  color: #FFF;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

button svg {
  height: 20px;
}

button:hover {
  background: #495170;
}

button:active {
  background: #2b3042;
}

button:disabled {
  background: #2b3042;
  color: #495170;
}

.debugger-watcher {
  grid-area: watcher;
  padding: 10px;
}

.CodeMirror {
  width: 100%;
  height: 100%;
  line-height: 1.3em;
}
.styled-background { background-color: #ffc000 !important; color: black !important; }
.styled-scope-background { background-color: #424249; }
.CodeMirror-gutters {
  padding-right: 20px;
}

.title {
  font-variant: small-caps;
  font-weight: bold;
  color: #595f7a;
}

